#Metadata:
---
*   @Autor:Angela Patricia Guerrero Morales 
*   @Date:2022/Feb/12
*   @Description:This python notebook shows basic exercises in python.

# Ejercicios básicos

## Ejercicio 1: Productos + IVA

In [ ]:
prod1=int(input("Input first product:"))
prod2=int(input("Input second product:"))
prod3=int(input("Input third product:"))
prod4=int(input("Input fourth product:"))
prod5=int(input("Input fifth product:"))
suma=(prod1+prod2+prod3+prod4+prod5)
iva=suma *0.19
total=suma+iva
print("Valor bruto",suma,"\nIVA:",iva,"\nTOTAL:",total)

Input first product:1
Input second product:2
Input third product:3
Input fourth product:4
Input fifth product:5
Valor bruto 15
IVA: 2.85
TOTAL: 17.85

###Versión Python

In [ ]:
pro1,pro2,pro3,pro4,pro5=input("input 1°,2°,3°,4° and 5° products, separate with comma:").split(",")
suma=(pro1+pro2+pro3+pro4+pro5)
print("Valor bruto",suma,"\nIVA:",iva,"\nTOTAL:",total)

input 1°,2°,3°,4° and 5° products, separate with comma:1,2,3,4,5
Valor bruto 12345
IVA: 2.85
TOTAL: 17.85

##Ejercicio 2

###Versión normal

In [ ]:
var1=float(int(input("Enter the first number: ")))
var2=float(int(input("Enter the second number: ")))
var3=float(int(input("Enter the third number: ")))
if (var1 >= var2) and (var1 >= var3):
   largest = var1
elif (var2 >= var1) and (var2 >= var3):
   largest = var2
else:
   largest = var3
print("The largest number is", largest)
if (var1 <= var2) and (var1 <= var3):
   smallest = var1
elif (var2 <= var1) and (var2 <= var3):
   smallest = var2
else:
   smallest = var3
print("The smallest number is", smallest)
sum=var1+var2+var3
average=sum/3
print("The average is", average)

Enter the first number: 1
Enter the second number: 2
Enter the third number: 3
The largest number is 3.0
The smallest number is 1.0
The average is 2.0

###Versión Phyton

In [ ]:
var1,var2,var3=input("Enter 3 numbers separated by comma:").split(",")
print("The largest number is:"+str(max(int(var1),int(var2),int(var3))),"The smallest number is: "+str(min(int(var1),int(var2),int(var3))), "The average is: "+ str((int(var1)+int(var2)+int(var3))/3))

Enter 3 numbers separated by comma:1,2,3
The largest number is:3 The smallest number is: 1 The average is: 2.0

##Ejercicio 3

###Método normal

In [1]:
list1 = []
num = int(input("Enter number of elements in list: "))
total_sum = 0
for i in range(1, num + 1):
    ele= int(input("Enter elements: "))
    list1.append(ele)
    total_sum += ele
avg = total_sum/num
print("List:",list1)
list1.sort()
print("Sorted list in ascending order:",list1)
list1.sort(reverse = True)
print("Sorted list in descending order:",list1)
maximum = max(list1)
print("The largest number is:",maximum)
minimum = min(list1)
print("The smallest number is:",minimum)
print("Average of the list =", round(avg, 2))

Enter number of elements in list: 3
Enter elements: 4
Enter elements: 6
Enter elements: 8
List: [4, 6, 8]
Sorted list in ascending order: [4, 6, 8]
Sorted list in descending order: [8, 6, 4]
The largest number is: 8
The smallest number is: 4
Average of the list = 6.0

###Método python

In [ ]:
list1 = []
num = int(input("Enter number of elements in list: "))
total_sum=0
for i in range(1, num + 1):
    ele= int(input("Enter elements: "))
    list1.append(ele)
    total_sum += ele

print("List:",list1)

list1.sort()
print("Sorted list in ascending order:",list1)

list1.sort(reverse = True)
print("Sorted list in descending order:",list1)

print("The largest number is:",maximum, "The smallest number is:",minimum, "The average is:",avg)